<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

#### Setup

Start by running the cell below to import `pandas` and import the exercise datasets.

In [7]:
import pandas as pd
shootouts = pd.read_csv('shootouts.csv')
goals = pd.read_csv('goalscorers.csv')
goals.head(),shootouts.head()

(    game_date  home_team away_team       team            scorer  minute  \
 0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    44.0
 1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    55.0
 2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    70.0
 3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    75.0
 4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco     2.0

    own_goal  penalty
 0     False    False
 1     False    False
 2     False    False
 3     False    False
 4     False    False  ,
   shootout_date    home_team         away_team       winner
 0    1967-08-22        India            Taiwan       Taiwan
 1    1971-11-14  South Korea  Vietnam Republic  South Korea
 2    1972-05-07  South Korea              Iraq         Iraq
 3    1972-05-17     Thailand       South Korea  South Korea
 4    1972-05-19     Thailand          Cambodia     Thailand)

#### 1. Merge `shootouts` and `goals`

We've added a new DataFrame named `goals` that records every goal scored during each game, before any penalty shootout. 

Perform a left merge with `shootouts` on the left and `goals` on the right. Use the date, home, and away team columns to correctly match shootouts with the in-game goals data in `goals`.

In [6]:
## YOUR SOLUTION HERE ##
merged_df = pd.merge(left = shootouts,
         right = goals,
         left_on = ['shootout_date','home_team', 'away_team'],
         right_on = ['game_date','home_team', 'away_team'],
         how = 'left')

# show output
merged_df.head()

,shootout_date,home_team,away_team,winner,game_date,team,scorer,minute,own_goal,penalty
0,1967-08-22,India,Taiwan,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN
1,1971-11-14,South Korea,Vietnam Republic,South Korea,NaN,NaN,NaN,NaN,NaN,NaN
2,1972-05-07,South Korea,Iraq,Iraq,NaN,NaN,NaN,NaN,NaN,NaN
3,1972-05-17,Thailand,South Korea,South Korea,1972-05-17,Thailand,Prapon Tantariyanond,98.0,False,False
4,1972-05-17,Thailand,South Korea,South Korea,1972-05-17,South Korea,Park Lee-chun,115.0,False,False

#### 2. Post-Merge Analysis

It looks like not all games have goal-by-goal data. Run the cell below to view all the goals -- and the penalty shootout winner -- from the 2022 Men's World Cup Final.

In [8]:
## YOUR SOLUTION HERE ##
merged_df[merged_df['shootout_date'] == '2022-12-18']

,shootout_date,home_team,away_team,winner,game_date,team,scorer,minute,own_goal,penalty
742,2022-12-18,Argentina,France,Argentina,2022-12-18,Argentina,Lionel Messi,23.0,False,True
743,2022-12-18,Argentina,France,Argentina,2022-12-18,Argentina,Ángel Di María,36.0,False,False
744,2022-12-18,Argentina,France,Argentina,2022-12-18,France,Kylian Mbappé,80.0,False,True
745,2022-12-18,Argentina,France,Argentina,2022-12-18,France,Kylian Mbappé,81.0,False,False
746,2022-12-18,Argentina,France,Argentina,2022-12-18,Argentina,Lionel Messi,109.0,False,False
747,2022-12-18,Argentina,France,Argentina,2022-12-18,France,Kylian Mbappé,118.0,False,True