<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

#### Setup

Start by running the cell below to import `pandas` and `numpy`, and the `results.csv` dataset.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('results.csv')
results.head()

,date,year,home_team,away_team,home_score,away_score,total_goals,win_margin,tournament,city,country,neutral
0,2000-01-04,2000,Egypt,Togo,2,1,3,1,Friendly,Aswan,Egypt,False
1,2000-01-07,2000,Tunisia,Togo,7,0,7,7,Friendly,Tunis,Tunisia,False
2,2000-01-08,2000,Trinidad and Tobago,Canada,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
3,2000-01-09,2000,Burkina Faso,Gabon,1,1,2,0,Friendly,Ouagadougou,Burkina Faso,False
4,2000-01-09,2000,Guatemala,Armenia,1,1,2,0,Friendly,Los Angeles,United States,True

#### Narrative Example

The cell below generates the example from the exercise narrative. Run the code to see how pandas splits a dataset into groups and apply aggregation functions to each group. Feel free to experiment with the different options!

In [2]:
mean_goals = results.groupby('home_team').agg(
    {'home_score':'mean'})
mean_goals.columns = ['mean_home_score']
mean_goals = mean_goals.reset_index()
mean_goals.head()

        home_team  mean_home_score
0        Abkhazia         1.000000
1     Afghanistan         1.190476
2         Albania         1.218182
3         Algeria         1.906475
4  American Samoa         0.857143

#### 1. Number of Teams per Country

We've already summarized `results` to compute the number of unique away teams that have played in each country. Run the cell to see the original output.

Clean this output by:

1. renaming `away_team` to `nunique_away_teams`
2. reseting the index of `teams_per_country`

Make sure to reassign the version of the DataFrame with a reset index back to the variable `teams_per_country`.

In [3]:
teams_per_country = results.groupby('country').agg(
    {'away_team':'nunique'})

## YOUR SOLUTION HERE ##
teams_per_country.columns = ['nunique_away_teams']
teams_per_country = teams_per_country.reset_index()

# show output
teams_per_country.head()

       country  nunique_away_teams
0  Afghanistan                   2
1      Albania                  50
2      Algeria                  48
3      Andorra                  43
4       Angola                  40