#### Setup

Start by running the cell below to import `pandas` and import the exercise datasets.

In [4]:
import pandas as pd
results = pd.read_csv('finalscore.csv')
worldcupgames = pd.read_csv('worldcupgames.csv')
results.head()

         date home_team away_team  home_score  away_score
0  1872-11-30  Scotland   England           0           0
1  1873-03-08   England  Scotland           4           2
2  1874-03-07  Scotland   England           2           1
3  1875-03-06   England  Scotland           2           2
4  1876-03-04  Scotland   England           3           0

In [3]:
worldcupgames.head()

         date  home_team      away_team  country
0  1930-07-13    Belgium  United States  Uruguay
1  1930-07-13     France         Mexico  Uruguay
2  1930-07-14     Brazil     Yugoslavia  Uruguay
3  1930-07-14       Peru        Romania  Uruguay
4  1930-07-15  Argentina         France  Uruguay

#### 1. Number of World Cup Goals

 We've loaded two DataFrames. The first, `results`, contains data on the final score of each game. The second, `worldcupgames`, lists every game in each FIFA World Cup.

You've been asked to use this data to determine the number of goals scored in each FIFA World Cup. Select the most precise method to merge these two DataFrames into a dataset capable of answering that question.

Make sure to put `results` on the left.

Note: this checkpoint will only produce the data to answer this question. You'll learn how to complete this analysis in the next lesson!

In [6]:
merged_df = pd.merge(left = results,
         right = worldcupgames,
         left_on = ["date","home_team","away_team"],
         right_on = ["date","home_team","away_team"],
         how = 'right')

# show output
merged_df.head()

         date  home_team      away_team  home_score  away_score  country
0  1930-07-13    Belgium  United States           0           3  Uruguay
1  1930-07-13     France         Mexico           4           1  Uruguay
2  1930-07-14     Brazil     Yugoslavia           1           2  Uruguay
3  1930-07-14       Peru        Romania           1           3  Uruguay
4  1930-07-15  Argentina         France           1           0  Uruguay

#### 2. Are World Cup Games Higher-Scoring?

You've been asked to compare the amount of goals scored in world cup games to goals scored in other games. Select a merge method to merge `results` on the left to `worldcupgames` on the right that will produce a DataFrame with enough data to answer this question.

Make sure to put `results` on the left.

Note: this checkpoint will only produce the data to answer this question. You'll learn how to complete this analysis in the next lesson!

In [8]:
merged_df = pd.merge(left = results,
         right = worldcupgames,
         left_on = ["date","home_team","away_team"],
         right_on = ["date","home_team","away_team"],
         how = 'left')

# show output
merged_df.head()

         date home_team away_team  home_score  away_score country
0  1872-11-30  Scotland   England           0           0     NaN
1  1873-03-08   England  Scotland           4           2     NaN
2  1874-03-07  Scotland   England           2           1     NaN
3  1875-03-06   England  Scotland           2           2     NaN
4  1876-03-04  Scotland   England           3           0     NaN