<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

#### Setup

Start by running the cell below to import `pandas` and the `results.csv` dataset.

In [1]:
import pandas as pd

results = pd.read_csv('results.csv')
results.head()

,date,year,home_team,away_team,home_score,away_score,total_goals,win_margin,tournament,city,country,neutral
0,2000-01-04,2000,Egypt,Togo,2,1,3,1,Friendly,Aswan,Egypt,False
1,2000-01-07,2000,Tunisia,Togo,7,0,7,7,Friendly,Tunis,Tunisia,False
2,2000-01-08,2000,Trinidad and Tobago,Canada,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
3,2000-01-09,2000,Burkina Faso,Gabon,1,1,2,0,Friendly,Ouagadougou,Burkina Faso,False
4,2000-01-09,2000,Guatemala,Armenia,1,1,2,0,Friendly,Los Angeles,United States,True

#### Narrative Example

The cells below generate the examples from the exercise narrative.

In [2]:
results['total_goals'].describe()

count    17095.000000
mean         2.642820
std          1.845359
min          0.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         31.000000
Name: total_goals, dtype: float64

In [3]:
results['total_goals'].sum()

45179

In [4]:
results[['home_score', 'away_score']].sum()

home_score    27293
away_score    17886
dtype: int64

**1. Number of unique countries**

 Count the number of unique countries in `results` and save the count to a variable named `unique_countries`.

In [5]:
## YOUR SOLUTION HERE ##
unique_countries = results['country'].nunique()

# show output
unique_countries

225

**2. Mean number of goals by the home and away teams**

Compute 

- the mean number of goals scored by the home teams overall
- the mean number of goals scored by the away teams overall

Save both these values to a variable named `mean_goals`.

In [6]:
## YOUR SOLUTION HERE ##
mean_goals = results[['home_score','away_score']].mean()

# show output
print(mean_goals)

home_score    1.596549
away_score    1.046271
dtype: float64